h1 {
    color: #025157;
  }

  body{
      background-color: #fffbf7;
  }
  
  button{
      background-color: #025157 ;
  }

  li{
      display: inline;
  }

 

  .header{
    margin: 10px 0 20px 20px;
    top: 0;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .container{
      margin-top: 20px;
      text-align: center;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    
  }

  .logo {
    width: 15%;
  }
  
  .navbar {
  
    background-color: #fffbf7;
    text-align: center;
    color: #025157;
    font-weight: 500;
    
  }
  


  .actions {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
  }

  .logo > img {
    height: 100%;
  }

  .actions > *{
    margin-right: 10px;
    margin-left: 10px;
  }

  .actions a {
    color: #67b54b;
  }

  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }

 

  

  .publish {
    margin-left: 2%;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }

  main {
    margin-top: 7%;
    text-align: center;
  }

  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }

  @media (max-width: 600px) {
    .navbar-light .nav-item .nav-link {
      color: #025157;
    }
    
    .navbar-light .navbar-toggler {
      border-color: #025157;
    }
    
    .navbar-light .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    } 

  }



  @media (max-width: 575px) {
  
    main {
      margin-top: 130px;
    }
  
    h1 {
      font-size: 30px;
    }

    .banner > img {
      width: 100%;
    }

    .promo {
      flex-direction: column;
      max-width: 90%;
    }
  
    .explanatory-video > video {
      width: 100%;
    }
  
    .publish {
      margin-top: 10px;
    }
  
    .publish > h3 {
      font-size: 25px;
      line-height: 1.2;
    }

    .publish > form {
      flex-direction: column;
    }
  
    .publish > form > div {
      height: 50px;
      margin-top: 10px;
    }
  
    .publish > form > div > input {
      width: 65%;
    }

    .features {
      grid-template: repeat(4, 1fr) / 1fr;
      padding-left: 0;
      padding-right: 0;
    }
    
    .feature-image {
      display: none;
    }
  }
  
  .navbar-light .nav-item .nav-link {
    color: #025157;
  }
  
  .navbar-light .navbar-toggler {
    border-color: #025157;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .success-stories .stories-carousel .carousel-indicators {
    position: initial; /** รณ: position: static; */
  }

  .success-stories .stories-carousel .carousel {
    max-width: 370px;
  }
  
  .success-stories .stories-carousel .card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .success-stories .stories-carousel figure {
    margin-top: 0;
  }

  .success-stories .stories-carousel .card .card-footer {
    margin-bottom: 20px;
    background-color: transparent;
    border-color: transparent;
  }
  .stories {
  display: block;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    
  }